body{
	background-color: rgb(187, 207, 184);
}

h1{
	color: black;
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	font-family: Impact, sans-serif;
	border: 5px double;
}

a{
  font-size: 20px;
  font-weight: bold;
  font-style: bold;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}